absl-py==2.1.0
astunparse==1.6.3
atari-py==0.2.9
baselines==0.1.5
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==1.3.0
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
dill==0.3.9
Farama-Notifications==0.0.4
fasteners==0.19
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.2.0
future==1.0.0
gast==0.6.0
glfw==2.8.0
google-pasta==0.2.0
grpcio==1.70.0
gym==0.17.0
gym-notices==0.0.8
gymnasium==1.0.0
h5py==3.13.0
idna==3.10
imageio==2.37.0
Jinja2==3.1.5
joblib==1.4.2
keras==3.8.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml-dtypes==0.4.1
mpi4py==4.0.3
mpmath==1.3.0
mujoco-py==2.1.2.14
multiagent @ git+https://github.com/shariqiqbal2810/multiagent-particle-envs.git@a3ccb43851dc6b04bab5a6e3f7443a35a4dd445f
namex==0.0.8
networkx==3.4.2
numpy==2.0.2
numpy-stl==3.2.0
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
progressbar2==4.5.0
protobuf==5.29.3
pycparser==2.22
pyglet==1.5.0
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2025.1
pyzmq==26.2.1
requests==2.32.3
rich==13.9.4
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
stable-baselines3==1.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
torch==2.6.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.17.2
zmq==0.0.0
